<div class="container">
    <div class="form-group">
        <label>New patient</label>
        <input (keyup.enter)="createPatient(id)" #id type="text" class="form-control" placeholder="Name...">
        <br>
        <mat-card *ngFor="let patient of patients" class="list-group-item">
            ID: {{ patient.id }} - Email: {{ patient.email }} - First name: {{ patient.firstName }} Last name:
            {{ patient.lastName }} <button (click)="deletePatient(patient)"
                class="btn btn-danger btn-sm">Delete</button>
        </mat-card>
        <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
    </div>
</div>