[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask-sqlalchemy = "*"
psycopg2 = "*"
flask = "*"
pylint-flask = "*"
jsonify = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
werkzeug = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
