<div class="container">
    <div class="form-group">
        <mat-card>
            <mat-card-title>
                Chat
            </mat-card-title>
            <mat-card-content>
                <p *ngFor="let message of messages">
                    <b>{{ message.who }}</b>: {{ message.text }}
                </p>
            </mat-card-content>
            <mat-form-field class="mat-input-wrapper">
                <input (keyup.enter)="sendMessage(input)" #input type="text" matInput placeholder="Your message">
            </mat-form-field>
        </mat-card>
    </div>
    <div class="center">
        <button mat-raised-button color="accent" style="padding: 6px 18px;">
            Submit interview if done w/ my mumbling
        </button>
    </div>
</div>