<div class="container">
    <div class="form-group">
        <mat-card>
            <mat-card-title style="padding: 0.75em 0;">
                Say hi to Medical Interview Chatbot to start conversation
            </mat-card-title>
            <mat-card-content>
                <p *ngFor="let message of messages">
                    <b>{{ message.who }}</b>: {{ message.msg }}
                </p>
            </mat-card-content>
            <mat-form-field class="mat-input-wrapper">
                <label for="nameField">Your message</label>
                <input (keyup.enter)="sendMessage(input)" #input type="text" matInput name="nameField"><br>
                <mat-hint align="end">To send Your message either click the button or press `Enter`</mat-hint>
            </mat-form-field>
            <br>
            <br>
            <button color="primary" (click)="sendMessage(input)" mat-raised-button style="float: right; padding: 5px;">
                Send message</button>
            <br>
            <br>
            <br>
            <hr>
            <mat-card-content>
                <div class="container">
                    <form [formGroup]="interviewForm" (ngSubmit)="onSubmit()">
                        <label formArrayName="questions" *ngFor="let question of questions; let i = index"
                            class="container">
                            <mat-form-field class="mat-input-wrapper">
                                <p>{{ question.question.question }}</p>

                                <input [formControlName]="i" #input type="text" matInput>
                            </mat-form-field>
                        </label>
                    </form>
                </div>
                <div style="text-align: center; padding: 3em;">
                    <button [disabled]="loading" color="accent" (click)="onSubmit()" mat-raised-button
                        style="width: 100%; padding: 5px;">
                        Submit if done with my mumbling
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>