<div class="container">
    <div class="form-group">
        <mat-card>
            <mat-card-title style="padding: 0.75em 0;">
                Say hi to Medical Interview Chatbot to start conversation
            </mat-card-title>
            <!-- <mat-card-content>
                <div class="container" *ngFor="let message of messages | async">
                    <div class="massage" [ngClass]="{'from': message.who === 'medbot',
                                                     'to': message.who === 'user'}">
                        {{ message.text }}

                    </div>
                </div>
            </mat-card-content> -->
            <mat-card-content>
                <p *ngFor="let message of messages">
                    <b>{{ message.who }}</b>: {{ message.text }}
                </p>
            </mat-card-content>
            <mat-form-field class="mat-input-wrapper">
                <label for="nameField">Your message</label>
                <input (keyup.enter)="sendMessage(input)" #input type="text" matInput name="nameField"><br>
            </mat-form-field>
            <button color="primary" (click)="sendMessage(input)" mat-raised-button>
                Clik to send or press Enter
            </button>
        </mat-card>
    </div>
</div>
<mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>

<!-- <div class="container">
    <div class="form-group">
        <mat-card>
            <mat-card-title>
                Chat
            </mat-card-title>
            <mat-card-content>
                <p *ngFor="let message of messages">
                    <b>{{ message.who }}</b>: {{ message.msg }}
                </p>
            </mat-card-content>
            <mat-form-field class="mat-input-wrapper">
                <input (keyup.enter)="sendMessage(input)" #input type="text" matInput placeholder="Your message">
            </mat-form-field>
        </mat-card>
    </div>
</div> -->