<div class="container">
    <div class="form-group">
        <mat-card>
            <mat-card-title style="padding: 0.75em 0;">
                Medical Interview Chatbot
            </mat-card-title>
            <mat-card-content>
                <div class="container">
                    <form [formGroup]="interviewForm" (ngSubmit)="onSubmit()">
                      <label formArrayName="questions" *ngFor="let question of questions; let i = index" class="container">
                          <mat-form-field class="mat-input-wrapper">
                              <p>{{question.question.question}}</p>
                              <input [formControlName]="i" #input type="text" matInput>
                          </mat-form-field>
                      </label>
                    </form>
                </div>
                <div style="text-align: center; padding: 2px;">
                    <button [disabled]="loading" color="accent" (click)="onSubmit()" mat-raised-button>
                        Submit if done with my mumbling
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>

